body{
	font-family: 'Montserrat', sans-serif;
	margin:0px;
	padding:0px;
}

h1, h2, h3, h4, h5, h6{
font-family: 'Archivo', sans-serif;	
}

img{
	max-width:100%;
}
.header {
width: 100%;
/* height: 85px; */
position: fixed;
position: absolute;
line-height: 65px;
text-align: center;
background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 85%, #000000 100%);
}
.header div.logo {
float: left;
width: auto;
height: auto;
padding-left: 3rem;
}
.header div.logo a {
text-decoration: none;
color:black;
font-size: 25px;
}
.header div.main_list {
height: 65px;
float:right;
}
.header div.main_list ul {
width: 100%;
height: 65px;
display: flex;
list-style: none;
margin: 0;
padding: 0;
}
.header div.main_list ul li {
width: auto;
height: 65px;
padding: 4;
padding-right: 4rem;
}
.header div.main_list ul li a {
text-decoration: none;
color: #FFF;
line-height: 87px;
font-size: 25px;
}
.header div.main_list ul li a:hover {
color: #e79119;
}/*Banner Section*/

section.banner-section {
    background: url(background1.png) no-repeat;
    background-size: cover;
    min-height: 713px;
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.banner-text h1 {
    font-size: 63px;
    color: #FFF;
    font-weight: 700;
    line-height: 74px;
}

.banner-text {
    max-width: 497px;
}

 

.banner-text p {
    color: #FFF;
    margin: 42px 0px;
}

 

.btn {
    padding: 11px 24px;
    min-width: 200px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 50px;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    background: #f64b3c !important;
    border-color: #f64b3c !important;
}

.btn-primary:hover {
    opacity: 0.8;
}

